<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.cn.dao.MenuDAO" >
  <resultMap id="BaseResultMap" type="com.zy.cn.entity.MenuEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu" property="menu" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="childId" property="childid" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu, href, state, childId, logo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.cn.entity.MenuEntity" >
    insert into menu (id, menu, href, 
      state, childId, logo
      )
    values (#{id,jdbcType=INTEGER}, #{menu,jdbcType=VARCHAR}, #{href,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{childid,jdbcType=INTEGER}, #{logo,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zy.cn.entity.MenuEntity" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menu != null" >
        menu,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="childid != null" >
        childId,
      </if>
      <if test="logo != null" >
        logo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menu != null" >
        #{menu,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="childid != null" >
        #{childid,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.cn.entity.MenuEntity" >
    update menu
    <set >
      <if test="menu != null" >
        menu = #{menu,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="childid != null" >
        childId = #{childid,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.cn.entity.MenuEntity" >
    update menu
    set menu = #{menu,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      childId = #{childid,jdbcType=INTEGER},
      logo = #{logo,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap type="com.zy.cn.entity.MenuEntity" id="menuResultMap">
    <id column="id" property="id"/>
    <result column="menu" property="menu"/>
    <result column="href" property="href"/>
    <result column="state" property="state"/>
    <collection property="menus" javaType="list" ofType="com.zy.cn.entity.MenuEntity">
      <id column="NUID" property="id"/>
      <result column="NUMENU" property="menu"/>
      <result column="NUHREF" property="href"/>
      <result column="NUSTATE" property="state"/>
    </collection>
  </resultMap>
  <select id="queryAll" resultMap="menuResultMap" >
    SELECT
    ME.ID,ME.MENU,ME.HREF,ME.STATE,
    NU.ID NUID,NU.MENU NUMENU,NU.HREF NUHREF,NU.STATE NUSTATE
    FROM
    menu me
    LEFT JOIN menu nu ON me.id = nu.childId
    WHERE
    me.childId IS NULL

  </select>
</mapper>